 .gallerycontainer {
            display: grid;
            grid-template-columns: repeat(6, auto);
            grid-template-rows: repeat(4, auto);
            background-color: #e5e5e5;
            width: 80vw;
            height: 80vh;
            margin: 20px auto;
            column-gap: 5px;
            row-gap: 5px;
            padding: 12px;
            grid-template-areas: " nav nav nav2 nav3 nav4 nav4"
                " nav nav  nav2 main3 main4 main5"
                " body body body2 main3 body3 body3"
                " footer1 footer2 body2 footer3 body3 body3"
            ;
        }

        .gallerycontainer img {
            width: 100%;
            height: 100%;
        }

        .pics1 {
            grid-area: nav;
        }

        .pics2 {
            grid-area: nav2;
        }

        .pics3 {
            grid-area: nav3;
        }

        .pics4 {
            grid-area: nav4;
        }

        .pics5 {

            grid-area: main3;
        }

        .pics6 {
            grid-area: main4;
        }

        .pics7 {
            grid-area: main5;
        }

        .pics8 {
            grid-area: body;
        }

        .pics9 {
            grid-area: body2;
        }

        .pics10 {
            grid-area: body3;
        }

        .pics11 {
            grid-area: footer1;
        }

        .pics12 {
            grid-area: footer2;

        }

        .pics13 {
            grid-area: footer3;

        }
        .intro{
            text-align: center;
            color: burlywood;
        }
